body {
    text-align: center;
    color: white;
}

#jogo {
    background-color: #3a6f9b;
    height: 100px;
    margin-bottom: 80px;
    border-radius: 15px;
}

h1 {
    color: white;
    padding: 28px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #3a6f9b;
    border-radius: 15px;
    display: inline-block;
    position: relative;
}

#reset {
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    width: 150px;
    background-color: #3a6f9b;
    color: azure;
    border: none;
}

#reset:hover {
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    width: 150px;
    border: none;
    background-color: #0a2c47;
    color: azure;
}

.card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card_image {
    max-width: 100%;
}